.sphere-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 380px;
}

.sphere-3d {
    animation: rotateSphere 18s infinite linear;
    transform-style: preserve-3d;
}

.tag-cloud span {
    color: #ffce74;
    font-weight: bold;
    transition: 0.3s ease;
}

.tag-cloud span:hover {
    color: #ff8c00;
    text-shadow: 0 0 12px rgba(255, 140, 0, 0.8);
    transform: scale(1.25);
}

@keyframes rotateSphere {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@media (max-width: 600px) {
    .sphere-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 300px;
        margin-top: 60px;
    }

}