/* HIDE ON DESKTOP */
.mobile-navbar,
.mobile-menu {
    display: none;
}

/* MOBILE ONLY */
@media (max-width: 600px) {
    .mobile-navbar {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        overflow: hidden;
        background: rgba(15, 15, 30, 0.75);
        backdrop-filter: blur(12px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .mobile-logo {
        font-size: 20px;
        font-weight: 700;
        background: linear-gradient(90deg, #00f5d4, #4cc9f0);
        -webkit-background-clip: text;
        color: transparent;
    }

    .menu-btn {
        background: none;
        border: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
    }

    /* SLIDE MENU */
    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;

        position: fixed;
        top: 64px;
        right: 0;
        width: 40%;
        padding: 8px;
        z-index: 999;

        background: rgba(12, 12, 25, 0.95);
        backdrop-filter: blur(14px);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
        overflow: hidden;
    }

    .mobile-menu-item {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 6px 25px;
        border-radius: 14px;
        cursor: pointer;

        background: linear-gradient(135deg,
                rgba(255, 255, 255, 0.08),
                rgba(255, 255, 255, 0.02));

        transition: 0.3s ease;
    }

    .mobile-menu-item:hover {
        background: linear-gradient(135deg, #00f5d4, #4cc9f0);
        color: black;
    }

    .menu-icon {
        font-size: 22px;
        margin-left: -16px;
    }

    .menu-label {
        font-size: 16px;
        font-weight: 600;
        color: floralwhite;
    }
}